Django==4.2.0
djangorestframework==3.12.4
django-environ==0.10.0
django-filter==23.2
django-autoslug==1.9.9
django-countries==7.5.1
Pillow==9.5.0
django-phonenumber-field==7.1.0
phonenumbers==8.13.13
psycopg2-binary==2.9.1
flake8==3.9.2
black==23.3.0
isort==5.12.0
djoser==2.2.0
djangorestframework-simplejwt==5.2.2
PyJWT==2.7.0




